AI Booking Agent (1).json
{
  "name": "AI Booking Agent",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1rGrWBRXxa4OsLSrNgzdNaEale-v9jrNG5dtXQOlhi0c",
          "mode": "list",
          "cachedResultName": "AI Booking Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rGrWBRXxa4OsLSrNgzdNaEale-v9jrNG5dtXQOlhi0c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1rGrWBRXxa4OsLSrNgzdNaEale-v9jrNG5dtXQOlhi0c/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        -80
      ],
      "id": "cefbb142-44b6-4836-86bb-322ebf90110c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "jyf9s7piwkXqoHu4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        432,
        -80
      ],
      "id": "3bb65668-f4b1-41f6-9d3a-a695c39dcffe",
      "name": "Telegram Trigger",
      "webhookId": "186d74a6-211c-4efa-b90c-b2e7c206a96b",
      "credentials": {
        "telegramApi": {
          "id": "vwQjeEzYUHk7dQA6",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "أنت مساعد ذكي وموظف استقبال محترف ومرح لـ \"صالون الحلاقة الذكي\". مهمتك هي مساعدة العملاء في تنظيم وحجز مواعيدهم بلغة عربية ودية وقريبة من القلب.\n\nإليك القواعد الصارمة التي يجب أن تتبعها:\n1. رحب بالعميل دائماً باسمه إذا كان متوفراً.\n2. إذا طلب العميل حجز موعد جديد، استفسر منه عن: (نوع الخدمة، التاريخ، والوقت المفضّل).\n3. لا تقم بتأكيد أي حجز نهائي إلا بعد أن يوافق العميل على التفاصيل كاملة.\n4. تذكر دائماً أن تكون إجاباتك مختصرة، واضحة، ولا تزيد عن سطرين لتناسب شاشة تليجرام."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        896,
        -80
      ],
      "id": "af170271-46d3-46e4-8b89-138f48d23610",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        768,
        128
      ],
      "id": "178f518e-f799-4d53-9522-961156c4d1f9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ORyetdlbJFR6t42Q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        912,
        128
      ],
      "id": "85926496-61cc-47c9-b37b-c4a875cb0063",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "megawinner2025@gmail.com",
          "mode": "list",
          "cachedResultName": "megawinner2025@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1056,
        128
      ],
      "id": "53c0c212-3395-4af3-887f-134e5c6ca23b",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "no4hi77PWUrbNkke",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1248,
        -80
      ],
      "id": "9481b4c1-dd96-4db2-8aa3-ca18461e7701",
      "name": "Send a text message",
      "webhookId": "754dd09a-4850-49bd-83b0-78917a3fd582",
      "credentials": {
        "telegramApi": {
          "id": "vwQjeEzYUHk7dQA6",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e09172a6-93fc-4f78-ae60-0c8f1fa4c018",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c0e2d31708617d633005c4c70eea72318150182e16ac16325a6a848adfbd58b"
  },
  "nodeGroups": [],
  "id": "Wn9yo5rjSBkZWvSu",
  "tags": []
}